p {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#student-orgs {
	background-color: #a5a5a5;
	align-content: center;
	padding: 20px;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: x-large;
}

header {
	margin: 20px;
	padding: 10px;
	background-image: url(download.jpg);
	width: 100%;
}

nav {
	margin: 10px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	width: 100%;
}

#student-orgs {
	margin: 30px;
	padding: 15px;
}

#student-events {
	margin: 40px;
	padding: 20px;
}

body {
	background-color: #62676b;
	color: #d9cdbd;
}

nav ul li a {
	color: #d9cdbd;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
}

#student-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#student-news h2 {
    width: 100%;
    text-align: center;
}

#student-news p {
    width: 100%;
    text-align: center;
}

#news-headline {
    display: flex;
    flex: 1 1 25%;
    height: auto;
    flex-direction: column;
}
